<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <webSocket enabled="false" />
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <rule name="DynamicContent">
          <match url="/*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="True" />
          </conditions>
          <action type="Rewrite" url="server.js" />
        </rule>
      </rules>
    </rewrite>
    <iisnode
      nodeProcessCommandLine="PORT=8080 WEBSITES_PORT=8080 NODE_ENV=production VITE_API_KEY=9957e8d299a340f6bf39141a7ae970a5 VITE_WORLD_NEWS_API_KEY=9957e8d299a340f6bf39141a7ae970a5 VITE_GOOGLE_GENERATIVE_AI_KEY=AIzaSyAPET1GbmQ0b9i_23Hv7vNwLO5OvDWyP8M node"
      watchedFiles="*.js;web.config;iisnode.yml"
      loggingEnabled="true"
      debuggingEnabled="true"
      devErrorsEnabled="true"
      nodeProcessCountPerApplication="1"
      maxConcurrentRequestsPerProcess="1024"
      maxNamedPipeConnectionRetry="100"
      namedPipeConnectionRetryDelay="250"
      maxNamedPipeConnectionPoolSize="512"
      maxNamedPipePooledConnectionAge="30000"
      initialRequestBufferSize="4096"
      maxRequestBufferSize="65536"
      uncFileChangesPollingInterval="5000"
      gracefulShutdownTimeout="60000"
      logDirectory="..\..\LogFiles\nodejs"
      debuggerPortRange="5058-6058"
      maxLogFileSizeInKB="128"
      maxTotalLogFileSizeInKB="1024"
      maxLogFiles="20"
      enableXFF="true"
    />
    <httpErrors existingResponse="PassThrough">
      <remove statusCode="503" />
      <error statusCode="503" path="503.htm" responseMode="File" />
    </httpErrors>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
  </system.webServer>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="Off" />
  </system.web>
</configuration>